html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#bg {
  height: 100vh;
  background: rgb(76, 41, 129);
  background: radial-gradient(
    circle,
    rgba(76, 41, 129, 1) 0%,
    rgba(34, 18, 57, 1) 100%
  );
}

img {
  width: 500px;
  top: 20px;
  position: absolute;
}

img[src*="stroke.svg"] {
  padding-top: 150px;
}

img[src*="outline.svg"] {
  padding-top: 50px;
  width: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

